/*----------
    RESET
-----------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*------------
    COMMONS
-------------*/
body{
    font-family: 'Montserrat Alternates', sans-serif;
}

/*------------
    HEADER
-------------*/
header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8C8C8C;
    height: 100px;
    font-size: 30px;
}
/*------------
    MAIN
-------------*/
#app{
    height: calc(100vh - 100px);
    background-color: #575757;
}